.mediaDisplayhamburger {
  width: 130px;
}

.mediaDisplayhamburger span {
    padding: 30px;
    background : #2d2f31; 
    color : white;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    display: block;
  }
  
  .mediaDisplayhamburger span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  
  .slide {
    clear:both;
    width: 130px;
    height:0px;
    overflow: hidden;
    text-align: left;
    transition: height .4s ease;
    display: block;
    background : #2d2f31;
    position: absolute;

    padding: 0px;
    margin: 0px;
  }
  
  .slide li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
  }

  .slide a {
    color: white;
    font-size: 20px;
    padding: 0px;
    margin-bottom: 20px;
    float: left;
  }
  
  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  }    
  
  #touch:checked + .slide {height: 170px;} 